
footer{
    height: 500px;
    max-width: 1366px;
    background: #171717 
    
}

.spd-logo-footer{
    background-image: url('spd-asset/footer_logo.png');
    background-size: cover;
    height: 500px;
    width: 510px;
    margin-right: 46px;
    background-repeat: no-repeat;
    float: right;
}

.logo-footer-sc{
    margin-left: -53.4%;
    height: 25px;
    margin-top: 55px;
}

#article-menu-footer{
    margin-top: 120px;
    margin-left: 100px;
}

#submenu-article-footer1{
    margin-top: 50px;
    margin-left: -95px;
}

#submenu-article-footer2{
    margin-top: 60px;
    margin-left: -95px;
}

#menu-footer {
    align-items: center;
    border-bottom-color: transparent !important;
    border-bottom-style: none;
    border-bottom-width: 0px !important;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    vertical-align: top;
    margin-left: -156%;
}

.tabs a {
    align-items: center;
     border-bottom-color: #dbdbdb; 
     border-bottom-style: none !important; 
     border-bottom-width: 0px !important; 
    color: #4a4a4a;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    vertical-align: top;

}

.tabs ul {
    align-items: center;
    /* border-bottom-color: #dbdbdb; */
    border-bottom-style: none !important; 
     border-bottom-width: 0px; 
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
}

#navbar-footer{
    background-color: transparent;
    margin-left: -131%;
    margin-top: 16px;
}

#navbar-attr1-footer{
    margin-right: 10%;
    margin-left: 10%;
}
#navbar-attr2-footer{
    margin-right: 10%;
    
}
#navbar-attr3-footer{
    margin-right: 10%;

}
#navbar-attr4-footer{
    margin-right: 10%;
    
}

.article-items1{
    margin-left: -106%;
    color: #fff;
    margin-top: -2%;
}

.article-items2{
    margin-left: -106%;
    color: #fff;
}


.community-items1{
    color: #fff;
    margin-top: -9%;
    margin-left: -63%;
}

.community-items2{
    margin-top: -0%;
    color: #fff;
    margin-left: -63%;
}

.community-items3{
    margin-top: -0%;
    color: #fff;
    margin-left: -63%;
}

.community-items4{
    margin-top: -0%;
    color: #fff;
    margin-left: -63%;
}

.workshop-items1{
    margin-top: -19%;
    color: #fff;
    margin-left: -16%;
}

.marketplace-items1{
    margin-top: -5%;
    color: #fff;
    margin-left: 29%;
}

.marketplace-items2{
    margin-top: 0%;
    color: #fff;
    margin-left: 29%;
}
.marketplace-items3{
    margin-top: 0%;
    color: #fff;
    margin-left: 29%;
}
.marketplace-items4{
    margin-top: 0%;
    color: #fff;
    margin-left: 29%;
}
